<html>

<head>
    <title>Add a new Album</title>
</head>

<body>
    <h1>Add a new Album</h1>

    <form action="/albums" method="POST">
        <p>
            <label for="title">Title</label>
            <br>
            <input type="text" name="title" id="title">
        </p>

        <p>
            <label for="release_year">Released</label>
            <br>
            <input type="text" name="release_year" id="release_year">
        </p>

        <p>
            <input type="submit" value="Add an album">
        </p>
    </form>
</body>

</html>